@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url('../fonts/Roboto-Bold.ttf');
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: $bg-color;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-size: 38px;
  text-transform: uppercase;
}

h3 {
  margin: 0;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.button {
  padding: 20px 30px;
  font-family: Roboto, sans-serif;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.mr-24 {
  margin-right: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

.text-center {
  text-align: center;
}

.bg-purple {
  background-color: $purple;
}

.bg-red {
  background-color: $red;
}

@media (max-width: 480px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
